.container {
  width: 77vw;
  height: 85vh;
  border: 7px solid #038F22;
  box-sizing: border-box;
  border-radius: 40px;
}

.center {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100;
  display: flex;
  justify-content: center;
}